<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ouricon"
        android:label="@string/Wafar_Store"
        android:roundIcon="@drawable/ouricon"
        android:supportsRtl="true"
        android:theme="@style/Theme.New_mobile_project">
        <activity
            android:name=".Activities.ChartActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.feedbackviewer"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Activities.show" />
        <activity android:name=".Activities.AdminReportActivity" />
        <activity android:name=".Activities.edit" />
        <activity android:name=".Activities.feedbackk" />
        <activity android:name=".Activities.Location_Maps" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.CartActivity" />
        <activity android:name=".Activities.Home" />
        <activity android:name=".Activities.admin" />
        <activity android:name=".Activities.Recover_password" />
        <activity android:name=".Activities.Sign_Up_activity" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAO1dT5zt_Go-d0ZZ5tn7Uryq3UyhA8p1o" />
    </application>

</manifest>